/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #ffffff;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

a {
  color: #00ffc8;
  text-decoration: none;
}

.section {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
